



/* .hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(189, 180, 199, 0.6), rgba(0, 128, 255, 0.2)), 
                url(http://mivwordhouse.com/assets/images/mivwordhouse-355566978-272553022118942-8312020603880788771-n.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
} */
/* 

.hero h3 {
    font-weight: 100;
    letter-spacing: 2px;
  }
  
  .hero h1 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    padding-top: 150px;
  } */
  
  .socials{
    width: 60px;
    height: 220px;
    background-color: black;
    position: fixed;
    top: 500px;
    left: 94%;
    border-radius: 5px;
    z-index: 1;
  }

  .hero-container {
    position: relative;
    /* width: 100%; */
    height: 60vh; /* Adjust as needed */
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); /* Equal column distribution */
    gap: 10px; /* Adjust the gap between items as needed */
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
  .text-overlay h1 {
    color: white;
    font-size: 80px;

  }












  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {

  .text-overlay h1{
    font-size: 60px;
  }
  .socials{
    width: 60px;
    height: 220px;
    background-color: black;
    position: fixed;
    top: 500px;
    left: 65%;
    border-radius: 5px;
    z-index: 1;
  }

  
 
 
 
 }